/*Selector {
	Property : value;
}*/

body {
  background-image: url(background.jpg);
  background-size: cover;
}

h2,
p {
  color: #dcb80d;
  text-align: center;
  border: 5px solid rgba(255, 167, 167);
  cursor: pointer;
}
p {
  color: pink;
}

li {
  list-style: none;
  display: inline-block;
}
